
.button-1 {
	display: inline-block;
	width: 250px;
	height: 75px;
	margin:0 20px 20px 0;
    padding: 0 0 0 15px;
    background: #000;
    font-size: 22px;
    line-height: 22px;
    color: #fff;
    text-align: left;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}

.button-1:hover {
	background: #000;
	/*background: rgba(0, 0, 0, 0.5);*/
	opacity: 0.7;
	color: #fff;
}

.button-1 .button-1-left {
	float: left;
}

.button-1 .button-1-left i {
	font-size: 50px;
	vertical-align: middle;
	margin-top: 10px;

}

.button-1 .button-1-right {
	float: left;
  	margin: 10px 0 0 5px;
}

.button-1 .button-1-right .button-1-right-top, 
.button-1 .button-1-right .button-1-right-bottom {
	float: left;
	width: 100%;
	font-weight: 400;
}

.button-1 .button-1-right .button-1-right-bottom {
	font-size: 34px;
	line-height: 34px;
	margin-top: 10px;
}

.android-color{
	background: #43c1c1;
}
.android-color:hover{
	background: #43c1c1;
	opacity: 0.7;
}


/***** Social icons *****/

.social {
	display: inline-block;
	width: 42px;
	height: 42px;
	margin: 5px;
    padding: 11px 0 0 0;
    font-size: 20px;
    line-height: 20px;
    color: #fff;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
.social:hover { color: #fff; background: #888; }

.social-weixin { background: #44b549; }
.social-weixin:hover{

}
.social-weibo { background: #e6162d; }
.social-twitter { background: #53a7e8; }
